* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: "Trirong", serif;
    margin: 0;
    padding-top: 60px; 
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #299f0e;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #76b628;
}

section.content {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #299f0e;
    margin-top: 60px;
}

.content p {
    font-size: 20px;
    color: #171717;
    margin: 20px 40px;
    margin-bottom: 500px;
}
/*cambio/